* {
    box-sizing:  border-box;
}

html, body {
    background-color: #393434;
    color: #333;
    height: 100%;
    margin: 0;
    width: 100%;
}

.cTable {
    width: 100%;
    table-layout: auto;
}
/*
.clientlist {
    background-color: #333;
    color: #fff;
    float: left;
    height: 100%;
    overflow: auto;
    padding: 15px;
    width: 80%;
}
*/
.dir {
    cursor: pointer;
    padding: 3px;
}

.dir .fa {
    margin-right: 5px;
}

#submit {
    width: 220px;
    height: 50px;
    left: 43.5%;
    display: flow-root;
    position: relative;
}

#right {
    float: right;
    height: 310px;
}

#enter{
    right: 15%;
    width: 200px;
    height: 40px;
    position: relative;
}

#left {
    float: left;
    width: 368px;
    height: 338px;
    position: fixed;
}

.log-panel {
    height: 76%;
    width: 95%;
    overflow: auto;
}

.porttable {
    width: 100%;
    height: 75%;
    background-color: #f1f1f1;
    border-color: #816262;
}

.statuspanel {
    right: 10px;
    float: left;
    height: 22%;
    background-color: #393636;
    overflow: none;
    padding: 12px;
    width: 100%;
    bottom: 5%;
    /* padding-left: 3px; */
    align-content: flex-start;
    vertical-align: bottom;
}
.clientList{
    top:0%;
    width:98%;
    height:90%;
    float: left;
}
.title {
    font-size: 1.17em;
    text-align: center;
    color: white;
    word-wrap: break-word;
}

.mainpanel {
    background-color: #f1f1f1;
    border: solid 1px #e1e1e1;
    border-radius: 4px;
    margin-top: 5px;
    padding: 15px;
    height: 100%;
}
.panel {
    background-color: #f1f1f1;
    border: solid 2px #e1e1e1;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
}
.tabcontent {
    display: none;
    background-color: #f1f1f1;
    border: solid 1px #816262;
    border-radius: 4px;
    padding: 15px;
    height: 80%;
    overflow-y: auto;
    overflow-x: auto;
}

.th {
    font-family: 'Courier New', Courier, monospace;
}

.td {
    font-family: 'Courier New', Courier, monospace;
}

.rightpanel {
    background-color: #f1f1f1;
    border: solid 2px #e1e1e1;
    border-radius: 4px;
    min-width: 500px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 50%;
    height: 64%;
    text-align: right;
}

.logPanel {
    background-color: #393636;
    border-radius: 4px;
    padding-top: 15px;
    min-height: 256px;
    float: left;
    text-align: initial;
    width: 100%;
    position: relative;
    height: 256px;
}

.stat {
    font-weight: bold;
}

.chart_title {
    margin-bottom: 5px;
}